body {
    background-image: url(../img/202323.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
	animation: animacionEncabezado 1s infinite;
	text-align: center
  }
  
  @keyframes animacionEncabezado {
	from { color: #333; }
	to { color: #5d2de2; }
  }
  

form {
	
	background-color: #f1ecec;
	background-size: cover;
	background-position: center;
}

p {
	font-weight: bold;
}

input[type=radio] {
	margin-left: 10px;}


