{%load  static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="website icon" type="png"
    href="{% static 'img/png.png'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliverEat</title>
    <link rel="stylesheet" href="{% static 'css/menucarrito.css'%}">
    <link rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poller+One&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="header-wrap">
            <div class="wrap-logo-header">
                <a href="#" class="logo-header">
                    <span>Delivery Eat</span>
                </a>
            </div>
            <div class="wrap-nav-header">
                <nav class="nav-header">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                    </label>
                    <ul class="main-menu">
                        <li class="menu-item"id="nav-main-contact" ><a href="#" >Inicio</a> </li>
                        
                        {% if user.is_authenticated%}
                        <li class="nav-item active" >
                            <a class="nav-link" href="{% url 'logout'%}">Cerrar Sesion<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">@{{user.username}}<span class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login'%}">Inicio de sesion<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'register'%}">Registrar<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor">

        <div class="container">
            <div class="row">
                <!-- Elementos generados a partir del JSON -->
                <main id="items" class="col-sm-8 row"></main>
                <!-- Carrito -->
                <aside class="col-sm-4">
                    <h2>Carrito</h2>
                    <!-- Elementos del carrito -->
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    <!-- Precio total -->
                    <p class="text-right">Total: <span id="total"></span>&dollar;</p>
                    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </aside>
            </div>
        </div>

        <br>
        <br>

        

    </div>
</body>
<script src="{% static 'js/carrito.js'%}"></script>

</html>